.main-toolbar {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  margin: 0 24px;
}

.main-nav a {
  text-decoration: none;
}

/* O Angular Material usa uma classe diferente para links ativos */
.main-nav a.active-link {
  background-color: rgba(255,255,255,0.1);
}

.toolbar-spacer {
  flex: 1 1 auto; /* Este elemento flexível empurra o user-info para a direita */
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-content {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}