@import '@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --primary-color: #4A90E2;      /* Azul principal */
  --accent-color: #D0021B;       /* Rosa/vermelho para botões de destaque */
  --background-color: #EEF5FC;  /* Fundo azul muito claro */
  --card-background-color: #FFFFFF; /* Fundo branco sólido para os cards */
  --text-color: #2D3748;
  --text-color-light: #718096;
  --border-color: #E2E8F0;
  --shadow-color: rgba(74, 144, 226, 0.1);
  --mat-primary-main-color: var(--primary-color);
  --mat-accent-main-color: var(--accent-color);
}

html, body { 
  height: 100%; 
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}