/* Importa o tema base do Angular Material */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Define as variáveis de cor para o novo design */
:root {
  --primary-color: #4A90E2;      /* Azul principal */
  --background-color: #EEF5FC;  /* Fundo azul muito claro */
  --card-background-color: rgba(255, 255, 255, 0.6); /* Branco semi-transparente para o efeito de vidro */
  --text-color: #2D3748;         /* Cor de texto escura */
  --text-color-light: #718096;    /* Cor de texto clara */
  --border-color: rgba(255, 255, 255, 0.8);
  --shadow-color: rgba(74, 144, 226, 0.1);

  /* Sobrescreve as cores do Angular Material */
  --mat-primary-main-color: var(--primary-color);
}

html, body { 
  height: 100%; 
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
}